<nav class="sidebar-wrapper">
    <div class="profile-container">
        <img class="profile-img" src="{{site.baseurl}}/resources/img/profile.jpg" alt="profile picture" />
        <h1 class="name">Diana Maftei</h1>
        <h3 class="job-title">Java Developer</h3>
        <span><a class="profile-links" href="https://github.com/DianaMaftei"><i class="fa fa-github" aria-hidden="true"></i></a></span>
        &nbsp&nbsp&nbsp
        <span><a class="profile-links" href="https://www.linkedin.com/in/dianamaftei/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></span>
    </div>

    {% assign year = '0' %}
    <ul class="nav-container">
        {% for post in site.posts %}
        {% capture tmp %}{{ post.date | date: "%Y" }}{% endcapture %}
        {% if year != tmp %}
          {% capture year %}{{ post.date | date: "%Y" }}{% endcapture %}
          <h5 class="links-date">{{ post.date | date: "%Y" }}</h5>
        {% endif %}

        <div {% if page.url == post.url %} class="ribbon" {% endif %}>
            <i class="stiches"></i>
            <span>
                <a class="posts-links" href="{{site.baseurl}}{{ post.url }}">
            {% case post.category %}
                    {% when "checklist" %}<i class="fa fa-check-square-o" aria-hidden="true"></i>
                    {% when "book" %} <i class="fa fa-book" aria-hidden="true"></i>
                    {% when "video" %} <i class="fa fa-film" aria-hidden="true"></i>
            {% endcase %}
            &nbsp
            {{post.title}}</a>
            </span>

        </div>
        <br>
        {% endfor %}
    </ul>


</nav>


