<nav class="sidebar-wrapper">
    <div class="profile-container">
        <img class="profile-img" src="{{site.baseurl}}/resources/img/profile.jpg" alt="profile picture" />
        <h1 class="name">Diana Maftei</h1>
        <h3 class="job-title">Java Developer</h3>
        <span><a class="profile-links" href=""><i class="fa fa-github" aria-hidden="true"></i></a></span>
        &nbsp&nbsp&nbsp
        <span><a class="profile-links" href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></span>
    </div>

    <div class="contact-container container-block">
        <ul class="list-unstyled contact-list">

            <!--for loop over years-->
            <!--for loop over blog posts-->
        </ul>
    </div>

</nav>


