.sources-links {
    display: inline-block;
    color: #42A8C0;
    text-decoration: none;
}

#markdown-toc li a{
    color: #42A8C0;
    text-decoration: none;
}

table {
     font-family: arial, sans-serif;
        border: 1px solid #dddddd;
     border-collapse: collapse;
     width: 100%;
 }

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #42a8c0;
    color: white;
}

.postBody a {
    color: #42A8C0;
    text-decoration: none;
}